@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Ubuntu:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', ;
    font-family: 'Ubuntu', sans-serif;
 }

 body{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;

 }

.principal{ 
    background-image: url(../images/fondo34.webp);
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr   ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr   ;  
    grid-template-areas:
   "titulo "
   "navb "
   "uno"
   "cuatro"
   "footer"
    ;
    background-color: rgb(214, 216, 218);
    text-align: center;
  
    
  }
  .titulo {

    grid-area: titulo;
   
}
img{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    width: 100%;
    height: auto;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
.img_niñxs {
    padding-top: 40px;
    width: 300px;
    height: 250px;
    gap: 10px;
    grid-gap: 10px;
  
    
  }
  

#primerdiv { 
    display: flex;
    justify-content: space-around;
    align-content: space-around;
 
}

.uno{
    grid-area: uno;
 }

 #segundodiv {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 30px;

 }
 .cuatro { grid-area: cuatro;
    display: flex;
    justify-content: center;
    align-content: space-around;}

    .image{
        padding-top: 40px;
        width: 300px;
        gap: 10px;
        grid-gap: 10px;
    }

  footer{
    align-self: flex-end;
    align-content: center;
    width: 100%;
    height: 60px;
  }

  .footer{
   
    grid-area: footer;

  }
  .navb{ 
    grid-area: navb;
    width: 100%;
    height: 30px;
     padding-block: 10px;}
nav {
    align-items: flex-end;
    
}
a { padding: 10px;
    text-decoration: none;
  color: rgb(141, 2, 2);
  text-decoration: underline double;
}

.bniñxs{
    background-image: url(../images/fondo34.webp);
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr   ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr   ;  
    grid-template-areas:
    "titulo"
    "navb"
    "divniñxsuno"
    "divniñxsdos"
    "divniñxstresx"
    "footer"
    ;
    text-align: center;
}

.divniñxsuno {
    grid-area: divniñxsunos;
}
.divniñxsdos {
    grid-area: divniñxsdos;
}
.divniñxstres {
    grid-area: divniñxstres;
    
}

#nosotros_body {
    background-image: url(../images/fondo34.webp);
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr   ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr    ;  
    grid-template-areas:
    "titulo "
    "navb "
    "section1 "
    "section2 "
    "footer "
    ;
    text-align: center;
}


.section1{ 
    
    grid-area: section1;}
.section2{
    padding-top: 50px;
    grid-area: section2;
}
.img_staff1 {
    width: 300px;
    height: 250px;
}
.img_staff2
{
    width: 300px;
    height: 250px;
}
.menub {
    background-image: url(../images/fondo34.webp);
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr   ;
    grid-template-rows: 1fr 1fr 1fr 1fr   ;  
    grid-template-areas:
    "titulo"
    "navb"
    "formulario"
    "footer"
    ;
    text-align: center;
}


@media screen and (max-width : 768px) {
    
   
    .principal {
 
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        gap: 15px;
    }

    .image {
        padding: 5px;
        width: 100%;
        height: auto;
    }
  
 

   

}

@media screen and (max-width : 365px) {
    
 .principal{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 15px;
 }   
 a {
    padding: 5px;
 }
   footer {
    align-self: flex-end;
    align-content: center;
   }
  
    
}

@media screen and (min-width : 760px) {
    
   
    .principal {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        gap: 15px;
    }
    .image { 
        gap: 8px;
    }
  

    footer {
        align-self: flex-end;
        align-content: center;
    }
    
}
 

@media screen and (max-width : 768px) {
    
    .bniñxs {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        gap: 15px;
    }
.img_niñxs {
    gap: 8px;
    grid-gap: 8px;
}

footer {
    align-self: flex-end;
    align-content: center;
}
}
@media screen and (max-width : 365px) {
    
    .bniñxs {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        gap: 15px;
    }
.img_niñxs {
    gap: 8px;
    grid-gap: 8px;
}
a {
    padding: 5px;
}

footer {
    align-self: flex-end;
    align-content: center;
}
}
@media screen and (min-width : 760px) {
   
    .bniñxs {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        gap: 15px;
    }
.img_niñxs {
    gap: 8px;
    grid-gap: 8px;
}
footer {
    align-self: flex-end;
    align-content: center;
}
}

@media screen and (max-width : 768px) {
    #nostros_body {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
    }
    
    .important {
        padding-top: 20px;
    }
    p {
        padding-top: 10px;
        padding-bottom: 10px;
    }

}
@media screen and (max-width : 365px) {
    #nostros_body {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
    }
   
    
}

@media screen and (min-width : 760px) {
    #nostros_body {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
    }
}
@media  screen and ( max-width : 365px) {
    .menub {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
    }
    #cont_titulo {
        padding-bottom: 20px;

    }
.h2 {
    padding-top: 10px;
}
.formulario {
    padding-top: 30px;
}
    
}
@media screen and (max-width : 768px) {
    .menub {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
    }
    #cont_titulo {
        padding-bottom: 20px;

    }
.h2 {
    padding-top: 10px;
}
.formulario {
    padding-top: 30px;
}

@media screen and (min-width : 760px) {
    .menub {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: strech;
    }
    
}
    
}











  
    
 