@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Ubuntu:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', ;
    font-family: 'Ubuntu', sans-serif;
}

.principal{
 
    background-image: url(../images/fondo34.webp);
    background-size: cover;
}
.bnosotros{
    background-color: bisque;
}
img{

    width:300px;
    height: 250px;
}
p{ 
    font-family: cursive;
}
p:hover{
background-color: beige}
 
